div{
	margin-top: 5%;
	/*margin-left: 25%;*/
	text-align: left;
	font-size: 15px;
	padding-left: 2px;
	box-shadow: 2px 2px 2px green;
	font-family: Calibri;
	padding-top-bottom: 5%; 
}

.container {
    border: 2px solid white;
    border-radius: 25px;
    background: white;
    background-clip: border-box;
    margin-left: 35%;
    margin-right: 35%;
    margin-bottom: 5%;
    margin-top: 7%;
    padding-left: 7.2%;
    padding-top-bottom: 20%;    
}

body {
	background-image: url("./images/neonbrand-666226-unsplash.jpg");
	background-size: auto;
}

h1 {
	color: white;
	font-family: 'Open Sans', sans-serif;
	/*margin-left: -25%;*/ 
}

#box-header {
	color: green;
	font-family: 'Open Sans', sans-serif;
	margin-left: -25%; 
}

input[type=text]:hover {
	box-shadow: 1px 1px 1px blue;
}

input, select {
	padding: 2px;
	border: 2px solid blue;
	border-radius: 2px;  
}

button {
	border: solid white;
	background-color: transparent;
	font-size: 25px;
	display: block;
	color: green;
	margin-left: -25%;		
}

#report {
	border: solid white;
	background-color: transparent;
	font-size: 25px;
	display: block;
	color: blue;
	margin-left: -25%;		
}

#formfill {
	border: solid white;
	background-color: transparent;
	font-size: 25px;
	display: block;
	color: green;
	margin-left: -25%;		
}

#logout {
	border: solid white;
	background-color: transparent;
	font-size: 25px;
	display: block;
	color: red;
	margin-left: -25%;		
}

/*button:hover {
	background-color: green;
	-webkit-transition: 0.4s;
	color: white;
	border-color:red;
}*/

button:active {
	transform: translateY(2px);
	-webkit-transition: 0.1s;
}

#report:hover {
	background-color: blue;
	-webkit-transition: 0.4s;
	color: white;
	border-color:blue;
}

#formfill:hover {
	background-color: green;
	-webkit-transition: 0.4s;
	color: white;
	border-color:green;
}

#logout:hover {
	background-color: red;
	-webkit-transition: 0.4s;
	color: white;
	border-color:red;
}

.footer {
   width: auto;
   margin-left: auto;
   margin-right: auto;
   padding: 0.5px;
   font-size: 100%;
   font-family: arial; 
   background: #457592;
   border-radius: 15px;
   box-shadow: 2px 2px 1px orange;
   color: white;
   text-align: center;
}


input[type=submit] {
	border: solid white;
	background-color: transparent;
	font-size: 15px;
	display: block;
	color: white;
}

input[type=submit]:hover {
	background-color: white;
	-webkit-transition: 0.4s;
	color: blue;
}

input[type=submit]:active {
	transform: translateY(2px);
	-webkit-transition: 0.1s;
}

a {
	color: white;
	font-size: 100%;
}





a:hover {
	color: blue;
}

select {
	padding: 2px;
	font-size: 150%;
}

