body {
	background-image: url("./images/liam-martens-680583-unsplash.jpg");
	background-size: auto;
}

h1 {
	color: white;
	font-family: 'Open Sans', sans-serif; 
}


input[type=text]:hover {
	box-shadow: 1px 1px 1px blue;
}

input, select {
	padding: 2px;
	border: 2px solid blue;
	border-radius: 2px;  
}

button {
	border: solid white;
	background-color: transparent;
	font-size: 25px;
	display: block;
	color: white;		
}

button:hover {
	background-color: white;
	-webkit-transition: 0.4s;
	color: blue;
}

button:active {
	transform: translateY(2px);
	-webkit-transition: 0.1s;
}

.footer {
   width: auto;
   margin-left: auto;
   margin-right: auto;
   padding: 0.5px;
   font-size: 100%;
   font-family: arial; 
   background: #457592;
   border-radius: 15px;
   box-shadow: 2px 2px 1px orange;
   color: white;
   text-align: center;
}


input[type=submit] {
	border: solid white;
	background-color: transparent;
	font-size: 15px;
	display: block;
	color: white;
}

input[type=submit]:hover {
	background-color: white;
	-webkit-transition: 0.4s;
	color: blue;
}

input[type=submit]:active {
	transform: translateY(2px);
	-webkit-transition: 0.1s;
}

a {
	color: white;
	font-size: 150%;
}

a:hover {
	color: blue;
}

select {
	padding: 2px;
	font-size: 150%;
}

table, td, tr {
	border: 2px solid white;
	width: 33%;
	text-align: left;
	border-collapse: collapse;
	background-color: transparent;
	color: white;
	padding: 2px;
}

th { 
	text-align: center; 
	padding: 2px;
	background-color: white;
	color: blue; 
}
			
table { 
	margin: auto; 
}